In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import typing
import re
import os

In [3]:
def get_data_source(pattern_endswith:str =None):
    
    data_source_abs_path = '/Users/lucaslee/Desktop/multiverse/data_source/'
    file_name_list = os.listdir(data_source_abs_path)
    
    if not pattern_endswith:
        file_name_list = file_name_list
    else:
        file_name_list = list(filter(lambda x: x.endswith(pattern_endswith), file_name_list))
        
    return file_name_list

In [4]:
def check_file_name_from_ds(file_name_blurry: str):
    
    all_file_in_data_source = get_data_source()
    result_list = [string for string in all_file_in_data_source if string.startswith(file_name_blurry)]
    
    if not result_list:
        raise Exception(f'There are no match file name that start with{file_name_blurry}')
    
    return result_list

In [5]:
def ds_read(file_name: str):
    
    data_source_abs_path = '/Users/lucaslee/Desktop/multiverse/data_source/'
    full_file_name = check_file_name_from_ds(file_name_blurry=file_name)[0]
    print(f'Using file name: "{full_file_name}" to transform the data')
    
    result_abs_path = data_source_abs_path + full_file_name
    
    file_type_list = ['.csv', '.xlsx']
    
    if result_abs_path.endswith(file_type_list[0]):
        df_data = pd.read_csv(result_abs_path)
    elif result_abs_path.endswith(file_type_list[1]):
        df_data = pd.read_excel(result_abs_path)
    else:
        raise ValueError('not support data type')
    
    return df_data

In [41]:
def drop_na_col(data: pd.DataFrame, frac: float=0.9):
    
    na_srs = np.mean(data.isna())
    na_srs = na_srs[na_srs >= frac]
    print('data NA Summary:', '--'*22)
    print(na_srs.sort_values(ascending=False))
    print('--'*22)
    
    col_name_arr = na_srs.index.values
    print(f'droping columns: {col_name_arr}')
    
    new_df = data.drop(columns=col_name_arr)
    
    return new_df

In [38]:
df = ds_read('交易')
df.head()

Using file name: "交易紀錄_2022年09月01日-2022年09月30日.csv" to transform the data

,結帳日期,結帳時間,類型,單號,交易序號,作廢狀態,Unnamed: 6,發票號碼,銷售總額,發票金額,服務費,折扣,稅額,支付方式,員工,Unnamed: 15
0,2022/09/01\t,23:05\t,內用,4\t,2.022090e+15,NaN,NaN,NaN,803,803,73,0,0,現金,-(000000)90466979,NaN
1,2022/09/01\t,23:20\t,內用,2\t,2.022090e+15,NaN,NaN,NaN,"3,073","3,073",280,7,0,現金,-(000000)90466979,NaN
2,2022/09/01\t,23:44\t,內用,5\t,2.022090e+15,NaN,NaN,NaN,"1,067","1,067",97,0,0,信用卡,-(000000)90466979,NaN
3,2022/09/02\t,00:06\t,內用,3\t,2.022090e+15,NaN,NaN,NaN,"2,156","2,156",196,0,0,現金,-(000000)90466979,NaN
4,2022/09/02\t,00:59\t,內用,1\t,2.022090e+15,NaN,NaN,NaN,0,0,0,0,0,現金,-(000000)90466979,NaN

In [43]:
df = drop_na_col(df)
df.head()

data NA Summary: --------------------------------------------
Unnamed: 6     1.000000
Unnamed: 15    1.000000
作廢狀態           0.975771
發票號碼           0.922907
dtype: float64
--------------------------------------------
droping columns: ['作廢狀態' 'Unnamed: 6' '發票號碼' 'Unnamed: 15']

,結帳日期,結帳時間,類型,單號,交易序號,銷售總額,發票金額,服務費,折扣,稅額,支付方式,員工
0,2022/09/01\t,23:05\t,內用,4\t,2.022090e+15,803,803,73,0,0,現金,-(000000)90466979
1,2022/09/01\t,23:20\t,內用,2\t,2.022090e+15,"3,073","3,073",280,7,0,現金,-(000000)90466979
2,2022/09/01\t,23:44\t,內用,5\t,2.022090e+15,"1,067","1,067",97,0,0,信用卡,-(000000)90466979
3,2022/09/02\t,00:06\t,內用,3\t,2.022090e+15,"2,156","2,156",196,0,0,現金,-(000000)90466979
4,2022/09/02\t,00:59\t,內用,1\t,2.022090e+15,0,0,0,0,0,現金,-(000000)90466979

In [47]:
df = df.iloc[:-1, [0, 1, 3, 5, 6, 7, 8, 9, 10]]
df

             結帳日期     結帳時間    單號   銷售總額   發票金額  服務費 折扣 稅額      支付方式
0    2022/09/01\t  23:05\t   4\t    803    803   73  0  0        現金
1    2022/09/01\t  23:20\t   2\t  3,073  3,073  280  7  0        現金
2    2022/09/01\t  23:44\t   5\t  1,067  1,067   97  0  0       信用卡
3    2022/09/02\t  00:06\t   3\t  2,156  2,156  196  0  0        現金
4    2022/09/02\t  00:59\t   1\t      0      0    0  0  0        現金
..            ...      ...   ...    ...    ...  ... .. ..       ...
448  2022/10/01\t  01:40\t  30\t  1,716  1,716  156  0  0       信用卡
449  2022/10/01\t  02:36\t   1\t      0      0    0  0  0        現金
450  2022/10/01\t  02:38\t  31\t  3,311  3,311  301  0  0       信用卡
451  2022/10/01\t  02:45\t  29\t  5,764  5,764  524  0  0  LINE Pay
452  2022/10/01\t  02:48\t  28\t  8,162  8,162  742  0  0        現金

[453 rows x 9 columns]

In [80]:
def ds_str_replace(data: pd.DataFrame, col_list: list, trim_special_char: str=','):
    
    result = data[col_list].apply(lambda x: x.str.replace(trim_special_char, ''), axis=1)
    
    return result